{{ partial "head"}} {{ partial "header"}}

<style>
  section.launching h2 {
    transition: color .3s ;
  }
  
  section.launching section:not(section.header__poster) h2:hover {
    color: #000 !important
  }
  
  @media screen and (min-width: 1200px) {
    .header__info {
      margin-left: 285px;
    }

    .header__info-btn-register {
      margin-left: 315px;
    }

    .subTitle {
      margin-right: 84px;
    }
  }

  @media screen and (min-width: 768px) {
    .header__info {
      margin-left: 285px;
    }

    .header__info-btn-register {
      margin-left: 315px;
    }

    .subTitle {
      margin-right: 84px;
    }
  }

  @media screen and (max-width: 1200px) {
    .header__info {
      margin-left: 0;
    }

    .header__info-btn-register {
      margin-left: 0;
    }

    .subTitle {
      margin-right: 0;
    }
  }
  .register > div {
    width: 250px !important;
    margin: 0 20px;
  }
  @media screen and (max-width: 768px) {
    .header {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .countdown_clock span:not(.text-uppercase) {
      font-size: 18px !important;
    }

    .countdown_clock span[id],
    .countdown_clock span.text-uppercase {
      font-size: 30px !important;
    }

    .register a {
      font-size: 16px !important;
    }

    .register > div::before,
    .register > div::after {
      font-size: 12px !important;
      width: 80px !important;
    }

    .register > div.position-relative {
      width: 150px !important;
    }
  }

  .register > div::before {
    bottom: 100%;
    content: "Or still consider";
  }

  .register > div::after {
    top: 100%;
    content: "About the 4th competition?";
  }

  .register > div::before,
  .register > div::after {
    color: #9eb9c5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .header__poster {
    transition: all 0.3s;
  }

  .header__poster button:hover {
    background-color: #000 !important;
  }

  .register a:hover {
    background-color: #000 !important;
  }

  .logo img {
    margin: 15px;
    height: 80px;
    width: 200px;
  }
  #mouse-scroll {
    display: block;
  }
  #mouse-scroll {
    position: absolute;
    margin: auto;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
  }
  #mouse-scroll span {
    display: block;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
  }
  #mouse-scroll .mouse {
    height: 25px;
    width: 15px;
    border-radius: 10px;
    transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
  }
  #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
  #mouse-scroll .down-arrow-1,
  #mouse-scroll .down-arrow-2,
  #mouse-scroll .down-arrow-3 {
    animation: mouse-scroll 1s infinite;
  }
  #mouse-croll .down-arrow-1 {
    animation-delay: 0.1s;
    animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-2 {
    animation-delay: 0.2s;
    animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-3 {
    animation-delay: 0.3s;
    animation-direction: alternate;
  }
  #mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #ffffff;
    position: relative;
  }
  #mouse-scroll .mouse-in {
    animation: animated-mouse 1.2s ease infinite;
  }

  @keyframes animated-mouse {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<body style="width: 100%">
  <section class="launching">
    <section
      style="
        padding-top: 180px;
        padding-bottom: 138px;
        background: no-repeat center/cover
          url(/images/competitive/4th-international/background.png);
      "
      class="header__poster position-relative"
    >
      <div class="row" style="padding: 0 72px">
        <div class="col-12 col-md-4">
          <p class="text-white text-uppercase">
            4th International design competition
          </p>
        </div>
        <div class="col-12 col-md-8">
          <h2 class="text-md-right text-white" style="font-size: 48px">
            (Re)Engaging Cities’ Landscape <br />
            for Cultural and Economics Vibrancy
          </h2>
          <div class="d-flex justify-content-end">
            <div class="subTitle" style="max-width: 572px">
              <span
                style="
                  background: #000;
                  color: white;
                  width: fit-content;
                  font-size: 24px;
                  display: inline;
                  box-decoration-break: clone;
                "
                class="p-1 text-justify"
              >
                Smart and integrated solution for Nha Trang towards vibrant and
                sustainable city.
              </span>
            </div>
          </div>
          <div class="row mt-4 header__info">
            <div class="col-lg-4 col-12 align-items-center d-flex flex-column">
              <h3
                class="text-uppercase text-white font-weight-light"
                style="font-size: 20px; margin-bottom: 9px; width: fit-content"
              >
                total prize
              </h3>
              <p
                class="text-white font-weight-bold"
                style="font-size: 36px; line-height: 28px; width: fit-content"
              >
                $5,700
              </p>
            </div>
            <div class="col-lg-7 col-12 d-flex flex-column align-items-center">
              <h3
                class="text-uppercase text-white font-weight-light"
                style="font-size: 20px; margin-bottom: 9px; width: fit-content"
              >
                SUBMISSION DEADLINE
              </h3>
              <p
                class="text-white font-weight-bold"
                style="font-size: 36px; line-height: 28px; width: fit-content"
              >
                JULY 15
                <span
                  style="
                    vertical-align: text-top;
                    font-size: 14px;
                    margin-left: -6px;
                  "
                  >TH</span
                >
                2025
              </p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12 d-flex justify-content-center d-xl-block">
              <a
                href="https://forms.gle/csQ27AGmyDPYWkR18"
                target="_blank"
                class="row align-items-center header__info-btn-register"
                style="margin-top: 37px; width: fit-content"
                ><button
                  class="text-uppercase text-white btn"
                  style="
                    background-color: #324c5b;
                    padding: 14px 36px;
                    border-radius: 12px;
                  "
                >
                  register now
                </button>
                {{/*  <i
                  class="ti-arrow-circle-right text-white d-md-block d-none"
                  style="font-size: 40px; margin-left: 10px"
                ></i  */}}
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div id="mouse-scroll">
        <div class="mouse">
          <div class="mouse-in"></div>
        </div>
        <div>
          <span class="down-arrow-1"></span>
          <span class="down-arrow-2"></span>
          <span class="down-arrow-3"></span>
        </div>
      </div>
    </section>
    <section style="margin-top: 67px; padding: 0 20px 0 15px">
      <div style="width: fit-content; margin-left: 35px">
        <p
          class="font-italic text-center"
          style="font-size: 32px; max-width: 755px; line-height: 38px"
        >
          “From Ponagar Tower to the foot of San Mountain, Nha Trang - Khanh Hoa
          will soon have a heritage route along the Cai River.”
        </p>
        <p
          class="font-weight-bold text-right"
          style="max-width: 755px; font-size: 15px"
        >
          People’s Committee of Khanh Hoa Province
        </p>
      </div>
      <div class="row justify-content-end">
        <div
          style="
            margin-top: 35px;
            max-width: 829px;
            margin-right: 75px;
            margin-left: 20px;
          "
          class="text-justify"
        >
          Following the success of the 2023 International Design Competition,
          which focused on Bac Phuoc Thang - Vung Tau, the competition is
          officially returning with the theme
          <b>(Re)engaging Cities’ Landscape for Cultural and Economic Vibrancy</b
          >. This year, the selected site is in the Cai River area, aiming to
          propose innovative smart urban solutions that boost the local economy
          while preserving and enhancing the cityscape and coastal ecosystem of
          Nha Trang. <br /><br />
          The fourth year of the International Design Competition is now more than
          a design challenge; it is a global platform where we inspire the next
          generation to envision future cities that harmoniously blend innovation
          and tradition. <br /><br />
          🏙️<b>Location:</b> Nha Trang City, Khanh Hoa Province, Vietnam;
          <br />
          🧑‍🏫<b>Participants eligibility:</b> University students and master
          students all around the world (maximum 3 students can form a team)
        </div>
      </div>
      <div class="row" style="margin-top: 55px">
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
          <h2
            class="text-uppercase text-center font-weight-bold"
            style="width: fit-content; color: #324c5b"
          >
            prizes
          </h2>
          <p
            class="text-center"
            style="
              margin-top: 16px;
              padding: 20px 25px 0 25px;
              border-top: 5px solid #9eb9c5;
            "
          >
            <b>$ 3,000</b> to 1st Prize <br />
            <b>$ 1,000</b> to 2nd Prize <br />
            <b>$ 700</b> to 3rd Prize <br />
            <b>$ 500</b> to Most Popular Prize <br />
            <b>$ 500</b> to Sponsor Favourite Prizee <br />
            10 Honourable Mentions <br />
            15 Finalists
          </p>
        </div>
        <div
          class="col-12 col-md-6 d-flex flex-column align-items-center"
          style="width: fit-content"
        >
          <h2
            class="text-uppercase text-center font-weight-bold"
            style="width: 100%; color: #324c5b"
          >
            RECOGNITION AND MORE BENEFITS
          </h2>
          <p
            class="text-center"
            style="
              margin-top: 16px;
              border-top: 5px solid #9eb9c5;
              padding: 20px 25px 0 25px;
              max-width: 400px;
            "
          >
            <b>Feature</b> in A special session of Smart Urbanisms & Beyond Book
            series <br />
            <b>published by UEH Press</b>
            <br />
            <b>Experiment</b> and Exploring Tour <br />
            <b>Exhibition</b> and sharing with partners <br />
            Opportunity to be supported with flight tickets and accomodation in
            Nha Trang City <br />
            Opportunity to receive special awards from sponsors
          </p>
        </div>
      </div>
    </section>
    <section style="margin-top: 60px">
      <div class="d-flex justify-content-center">
        <h2
          class="text-uppercase"
          style="
            color: #324c5b;
            border-bottom: 5px solid #9eb9c5;
            width: fit-content;
            padding: 0 40px 10px;
          "
        >
          timeline
        </h2>
      </div>
      <figure>
        <img
          width="100%"
          src="/images/competitive/4th-international/timeline.png"
          alt="timeline"
        />
      </figure>
    </section>
    <section>
      <div class="d-flex justify-content-center">
        <h2
          class="text-uppercase"
          style="
            color: #324c5b;
            border-bottom: 5px solid #9eb9c5;
            width: fit-content;
            padding: 0 40px 10px;
          "
        >
          jury
        </h2>
      </div>
      <div class="container" style="margin-top: 50px">
        <div class="row">
          {{ $data := getJSON "data/jury.json"}} {{ range $data }}
          <div class="col-12 col-lg-4 my-3" style="height: 220px">
            <div class="row" style="height: 100%">
              <div class="col-5" style="height: 100%">
                <figure
                  style="
                    width: 100%;
                    height: 100%;
                    background: no-repeat url('{{.image}}');
                    background-size: cover;
                    background-position: center top 10%;
                  "
                ></figure>
              </div>
              <div class="col-7">
                <h4 style="font-size: 16px">{{.name}}</h4>
                <p style="font-size: 14px; margin-bottom: 5px">{{.title}}</p>
                <p style="font-size: 14px; margin-bottom: 5px">
                  {{delimit (slice .falcuty .affiliation) " "}}
                </p>
                <p style="font-size: 14px; margin-bottom: 5px">{{.country}}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    <section
      class="countdown_clock position-relative text-center d-flex justify-content-center align-items-baseline flex-wrap px-3"
      style="margin-top: 167px; gap: 20px"
    >
      <span
        style="font-size: 48px; color: #324c5b"
        class="text-uppercase font-weight-bold"
        >only</span
      >
      <span
        style="font-size: 48px; color: #324c5b"
        class="font-weight-bolder"
        id="months"
        >4
      </span>
      <span style="font-size: 24px" class="font-weight-normal">months</span>
      <span
        style="font-size: 48px; color: #324c5b; width: 55px"
        class="font-weight-bolder"
        id="days"
        >25
      </span>
      <span style="font-size: 24px" class="font-weight-normal">days</span>
      <span
        style="font-size: 48px; color: #324c5b; width: 55px"
        class="font-weight-bolder"
        id="hours"
        >10
      </span>
      <span style="font-size: 24px" class="font-weight-normal">hours</span>
      <span
        style="font-size: 48px; color: #324c5b; width: 55px"
        class="font-weight-bolder"
        id="minutes"
        >10
      </span>
      <span style="font-size: 24px" class="font-weight-normal">minutes</span>
      <span
        style="font-size: 48px; color: #324c5b; width: 55px"
        class="font-weight-bolder"
        id="seconds"
        >10
      </span>
      <span style="font-size: 24px" class="font-weight-normal">seconds</span>
      <span
        style="font-size: 48px; color: #324c5b"
        class="text-uppercase font-weight-bolder"
        >left</span
      >
    </section>
    <div
      class="d-flex justify-content-center"
      style="margin-top: 20px; margin-bottom: 55px"
    >
      <div style="width: 290px; height: 5px; background-color: #9eb9c5"></div>
    </div>
    <section
      class="d-flex align-items-center justify-content-center px-3 w-100"
      style="margin-bottom: 257px"
    >
      <div
        class="d-flex align-items-center justify-content-center register"
        style="max-width: 900px"
      >
        <a
          class="text-uppercase text-white font-weight-bold d-block text-center p-2 p-md-3"
          style="font-size: 32px; background-color: #324c5b; border-radius: 12px"
          target="_blank"
          href="https://forms.gle/csQ27AGmyDPYWkR18"
        >
          register now
        </a>
        <div style="width: 350px" class="position-relative">
          <div class="d-flex align-items-center">
            <div
              style="width: 100%; height: 2px; background-color: #9eb9c5"
            ></div>
            <i
              class="ti-angle-right"
              style="margin-left: -11px; color: #9eb9c5"
            ></i>
          </div>
        </div>
        <a
          class="text-uppercase text-white font-weight-bold text-center p-2 p-md-3"
          style="
            font-size: 32px;
            background-color: #324c5b;
            padding: 40px;
            border-radius: 12px;
          "
          href="https://bit.ly/ISCM4thCompetition"
          target="_blank"
        >
          our brochure
        </a>
      </div>
    </section>
    <section class="d-flex flex-column align-items-center logo">
      <h2
        class="text-uppercase font-weight-normal mb-4"
        style="font-size: 20px; color: #9eb9c5"
      >
        in co-organizer with
      </h2>
      <div class="w-100 d-flex justify-content-center flex-wrap">
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/Logo_UEH_xanh 1.png"
          alt="UEH"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/Logo-Khanh-Hoa 1.png"
          alt="Khanh Hoa"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/iscm.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/handong.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/trieste.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/thammasat.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/kuleuven.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/melbourne.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/rmit.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/sutd.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/xaydunguni.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/ktscqvn.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/tdtuni.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/chula.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/apds.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/seouluni.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/trihitakarana.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/yersin.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/USJ-01.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/hcmute.png"
        />
      </div>
    </section>
    <section class="d-flex flex-column align-items-center mt-5 logo">
      <h2
        class="text-uppercase font-weight-normal mb-4"
        style="font-size: 20px; color: #9eb9c5"
      >
        With Sponsorship from
      </h2>
      <div class="d-flex justify-content-center flex-wrap">
        <img
          style="object-fit: contain"
          style="margin-right: 60px"
          src="/images/competitive/4th-international/partners/Logo_UEH_xanh 1.png"
          alt="UEH"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/Logo-Khanh-Hoa 1.png"
        />
        <img
          style="object-fit: contain"
          style="margin-left: 44px"
          src="/images/competitive/4th-international/partners/gse&c.png"
        />
        <img
          style="object-fit: contain"
          style="margin-left: -40px"
          src="/images/competitive/4th-international/partners/handong_construction.png"
        />
        <img
          style="object-fit: contain"
          style="margin-left: -40px"
          src="/images/competitive/4th-international/partners/ongvang.png"
        />
        <img
          style="object-fit: contain"
          style="margin-left: -40px"
          src="/images/competitive/4th-international/partners/isc.png"
        />
        <img
          style="object-fit: contain"
          style="margin-left: -40px"
          src="/images/competitive/4th-international/partners/BIT ROOM-03.png"
        />
        <img
          style="object-fit: contain"
          style="margin-left: -40px"
          src="/images/competitive/4th-international/partners/ljgroup.png"
        />
      </div>
    </section>
    <section class="d-flex justify-content-center flex-wrap logo mt-5 mb-5">
      <h2
        class="text-uppercase font-weight-normal mb-4"
        style="font-size: 20px; color: #9eb9c5"
      >
        With MEDIA SPONSORSHIP FROM
      </h2>
      <div class="d-flex flex-wrap justify-content-center px-5">
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/ashui.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/kientrucvn.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/nhipcau.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/ybox.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/architectureexcursions.png"
        />
        <img
          style="object-fit: contain"
          src="/images/competitive/4th-international/partners/ardor.png"
        />
      </div>
    </section>
  </section>
</body>

<script>
  const monthsEle = document.getElementById("months"),
    daysEle = document.getElementById("days"),
    hoursEle = document.getElementById("hours"),
    minutesEle = document.getElementById("minutes"),
    secondsEle = document.getElementById("seconds");

  function updateCountdown() {
    const targetDate = new Date("2025-07-15T23:59:59"); // Set your target date here
    const now = new Date();

    // Get total difference in milliseconds
    let diff = targetDate - now;

    if (diff < 0) {
      // If the target date has passed, show 0
      monthsEle.innerText = 0;
      daysEle.innerText = 0;
      hoursEle.innerText = 0;
      minutesEle.innerText = 0;
      secondsEle.innerText = 0;
      return;
    }

    // Calculate time units
    let months = targetDate.getMonth() - now.getMonth();
    let days = targetDate.getDate() - now.getDate();
    let hours = targetDate.getHours() - now.getHours();
    let minutes = targetDate.getMinutes() - now.getMinutes();
    let seconds = targetDate.getSeconds() - now.getSeconds();

    // Adjust for negative values
    if (seconds < 0) {
      seconds += 60;
      minutes--;
    }
    if (minutes < 0) {
      minutes += 60;
      hours--;
    }
    if (hours < 0) {
      hours += 24;
      days--;
    }
    if (days < 0) {
      months--;
      const lastMonth = new Date(
        now.getFullYear(),
        now.getMonth(),
        0
      ).getDate();
      days += lastMonth;
    }
    if (months < 0) {
      months += 12;
    }

    // Update UI
    monthsEle.innerText = String(months).padStart(2, "0");
    daysEle.innerText = String(days).padStart(2, "0");
    hoursEle.innerText = String(hours).padStart(2, "0");
    minutesEle.innerText = String(minutes).padStart(2, "0");
    secondsEle.innerText = String(seconds).padStart(2, "0");
  }

  updateCountdown(); // Initial call
  setInterval(updateCountdown, 1000); // Update every hour
</script>

<script>
  const headerEle = document.querySelector(".header__poster");

  if (document.body.clientWidth >= 992) {
    window.onscroll = (e) => {
      if (window.scrollY >= 100) {
        headerEle.style.borderBottomRightRadius = "77px";
        headerEle.style.borderBottomLeftRadius = "77px";
      } else {
        headerEle.style.borderBottomRightRadius = "0";
        headerEle.style.borderBottomLeftRadius = "0";
      }
    };
  }
</script>

{{ partial "footer" }}
