{{ partial "head"}} {{ partial "header"}}

<style>
  @media screen and (min-width: 1200px) {
    .header__info {
      margin-left: 285px;
    }

    .header__info-btn-register {
      margin-left: 315px;
    }

    .subTitle {
      margin-right: 84px;
    }
  }

  @media screen and (min-width: 768px) {
    .header__info {
      margin-left: 285px;
    }

    .header__info-btn-register {
      margin-left: 315px;
    }

    .subTitle {
      margin-right: 84px;
    }

    .header {
      border-bottom-right-radius: 77px;
      border-bottom-left-radius: 77px;
    }
  }

  @media screen and (max-width: 1200px) {
    .header__info {
      margin-left: 0;
    }

    .header__info-btn-register {
      margin-left: 0;
    }

    .subTitle {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .header {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .logo img {
    margin: 15px;
    height: 50px;
  }
</style>

<body style="width: 100%">
  <section
    style="
      padding-top: 180px;
      padding-bottom: 120px;
      background: no-repeat center/cover
        url(/images/competitive/4th-international/background.png);
    "
    class="header"
  >
    <div class="row" style="padding: 0 72px">
      <div class="col-12 col-md-4">
        <p class="text-white text-uppercase">
          4th International design competition
        </p>
      </div>
      <div class="col-12 col-md-8">
        <h2 class="text-md-right text-white" style="font-size: 48px">
          (Re)Engaging Cities’ Landscape <br />
          for Cultural and Economics Vibrancy
        </h2>
        <div class="d-flex justify-content-end">
          <div class="subTitle" style="max-width: 572px">
            <span
              style="
                background: #000;
                color: white;
                width: fit-content;
                font-size: 24px;
                display: inline;
                box-decoration-break: clone;
              "
              class="p-1 text-justify"
            >
              Smart and integrated solution for Nha Trang towards vibrant and
              sustainable city.
            </span>
          </div>
        </div>
        <div class="row mt-4 header__info">
          <div class="col-lg-4 col-12 align-items-center d-flex flex-column">
            <h3
              class="text-uppercase text-white font-weight-light"
              style="font-size: 20px; margin-bottom: 9px; width: fit-content"
            >
              total prize
            </h3>
            <p
              class="text-white font-weight-bold"
              style="font-size: 36px; line-height: 28px; width: fit-content"
            >
              $11,000
            </p>
          </div>
          <div class="col-lg-7 col-12 d-flex flex-column align-items-center">
            <h3
              class="text-uppercase text-white font-weight-light"
              style="font-size: 20px; margin-bottom: 9px; width: fit-content"
            >
              SUBMISSION DEADLINE
            </h3>
            <p
              class="text-white font-weight-bold"
              style="font-size: 36px; line-height: 28px; width: fit-content"
            >
              JULY 15
              <span
                style="
                  vertical-align: text-top;
                  font-size: 14px;
                  margin-left: -6px;
                "
                >TH</span
              >
              2025
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 d-flex justify-content-center d-xl-block">
            <a
              href="https://forms.gle/csQ27AGmyDPYWkR18"
              target="_blank"
              class="row align-items-center header__info-btn-register"
              style="margin-top: 37px; width: fit-content"
              ><button
                class="text-uppercase text-white btn"
                style="
                  background-color: #324c5b;
                  padding: 14px 36px;
                  border-radius: 12px;
                "
              >
                register now
              </button>
              <i
                class="ti-arrow-circle-right text-white d-md-block d-none"
                style="font-size: 40px; margin-left: 10px"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="margin-top: 67px; padding: 0 20px 0 15px">
    <div style="width: fit-content; margin-left: 35px">
      <p
        class="font-italic text-center"
        style="font-size: 32px; max-width: 755px; line-height: 38px"
      >
        “From Ponagar Tower to the foot of San Mountain, Nha Trang - Khanh Hoa
        will soon have a heritage route along the Cai River.”
      </p>
      <p
        class="font-weight-bold text-right"
        style="max-width: 755px; font-size: 15px"
      >
        People’s Committee of Khanh Hoa Province
      </p>
    </div>
    <div class="row justify-content-end">
      <div
        style="
          margin-top: 35px;
          max-width: 829px;
          margin-right: 75px;
          margin-left: 20px;
        "
        class="text-justify"
      >
        Following the success of the 2023 International Design Competition,
        which focused on Bac Phuoc Thang - Vung Tau, the competition is
        officially returning with the theme
        <b>(Re)engaging Cities’ Landscape for Cultural and Economic Vibrancy</b
        >. This year, the selected site is in the Cai River area, aiming to
        propose innovative smart urban solutions that boost the local economy
        while preserving and enhancing the cityscape and coastal ecosystem of
        Nha Trang.
      </div>
    </div>
    <div class="row" style="margin-top: 55px">
      <div class="col-12 col-md-6 d-flex flex-column align-items-center">
        <h2
          class="text-uppercase text-center font-weight-bold"
          style="width: fit-content; color: #324c5b"
        >
          prizes
        </h2>
        <p
          class="text-center"
          style="
            margin-top: 16px;
            padding: 20px 25px 0 25px;
            border-top: 5px solid #9eb9c5;
          "
        >
          <b>$5,000</b> to 1st Prize <br />
          <b>$3,000</b> to 2nd Prize <br />
          <b>$2,000</b> to 3rd Prize <br />
          10 Honorable Mentions <br />
          35 Finalists
        </p>
      </div>
      <div
        class="col-12 col-md-6 d-flex flex-column align-items-center"
        style="width: fit-content"
      >
        <h2
          class="text-uppercase text-center font-weight-bold"
          style="width: 100%; color: #324c5b"
        >
          Recognitions
        </h2>
        <p
          class="text-center"
          style="
            margin-top: 16px;
            border-top: 5px solid #9eb9c5;
            padding: 20px 25px 0 25px;
          "
        >
          <b>Feature</b> in A special session of Smart Urbanisms & Beyond Book
          series
          <br />
          <b>Experiment</b> and Exploring Tour <br />
          <b>Exhibition</b> and sharing with partners <br />
        </p>
      </div>
    </div>
  </section>
  <section style="margin-top: 60px">
    <div class="d-flex justify-content-center">
      <h2
        class="text-uppercase"
        style="
          color: #324c5b;
          border-bottom: 5px solid #9eb9c5;
          width: fit-content;
          padding: 0 40px 10px;
        "
      >
        timeline
      </h2>
    </div>
    <figure>
      <img
        width="100%"
        src="/images/competitive/4th-international/timeline.png"
        alt="timeline"
      />
    </figure>
  </section>
  <section>
    <div class="d-flex justify-content-center">
      <h2
        class="text-uppercase"
        style="
          color: #324c5b;
          border-bottom: 5px solid #9eb9c5;
          width: fit-content;
          padding: 0 40px 10px;
        "
      >
        jury
      </h2>
    </div>
    <div class="container" style="margin-top: 50px">
      <div class="row">
        {{ $data := getJSON "data/jury.json"}} {{ range $data }}
        <div class="col-12 col-lg-4 my-3" style="height: 220px">
          <div class="row" style="height: 100%">
            <div class="col-5" style="height: 100%">
              <figure
                style="
                  width: 100%;
                  height: 100%;
                  background: no-repeat url('{{.image}}');
                  background-size: cover;
                  background-position: center top 10%;
                "
              ></figure>
            </div>
            <div class="col-7">
              <h4 style="font-size: 16px">{{.name}}</h4>
              <p style="font-size: 14px; margin-bottom: 5px">{{.title}}</p>
              <p style="font-size: 14px; margin-bottom: 5px">
                {{delimit (slice .falcuty .affiliation) " "}}
              </p>
              <p style="font-size: 14px; margin-bottom: 5px">{{.country}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section
    class="countdown_clock position-relative text-center d-flex justify-content-center align-items-end"
    style="margin-top: 167px; gap: 20px"
  >
    <span
      style="font-size: 48px; color: #324c5b"
      class="text-uppercase font-weight-bold"
      >only</span
    >
    <span
      style="font-size: 48px; color: #324c5b"
      class="font-weight-bolder"
      id="months"
      >4
    </span>
    <span style="font-size: 24px" class="font-weight-normal">months</span>
    <span
      style="font-size: 48px; color: #324c5b"
      class="font-weight-bolder"
      id="days"
      >25
    </span>
    <span style="font-size: 24px" class="font-weight-normal">days</span>
    <span
      style="font-size: 48px; color: #324c5b"
      class="font-weight-bolder"
      id="hours"
      >10
    </span>
    <span style="font-size: 24px" class="font-weight-normal">hours</span>
    <span
      style="font-size: 48px; color: #324c5b"
      class="text-uppercase font-weight-bolder"
      >left</span
    >
  </section>
  <div
    class="d-flex justify-content-center"
    style="margin-top: 20px; margin-bottom: 55px"
  >
    <div style="width: 290px; height: 5px; background-color: #9eb9c5"></div>
  </div>
  <section
    class="d-flex align-items-center justify-content-center px-5"
    style="gap: 88px; margin-bottom: 257px"
  >
    <a
      class="text-uppercase text-white font-weight-bold d-block text-center"
      style="
        font-size: 32px;
        background-color: #324c5b;
        padding: 40px;
        border-radius: 12px;
      "
      target="_blank"
      href="https://forms.gle/csQ27AGmyDPYWkR18"
    >
      register now
    </a>
    <div style="width: fit-content">
      <p class="text-center mb-0" style="color: #9eb9c5">Or still consider</p>
      <div class="d-flex align-items-center">
        <div style="width: 100%; height: 2px; background-color: #9eb9c5"></div>
        <i
          class="ti-angle-right"
          style="margin-left: -11px; color: #9eb9c5"
        ></i>
      </div>
      <p class="text-center mb-0" style="color: #9eb9c5">
        About the 4th competition?
      </p>
    </div>
    <a
      class="text-uppercase text-white font-weight-bold text-center"
      style="
        font-size: 32px;
        background-color: #324c5b;
        padding: 40px;
        border-radius: 12px;
      "
      href="https://bit.ly/ISCM4thCompetition"
      target="_blank"
    >
      our booklet
    </a>
  </section>
  <section class="d-flex flex-column align-items-center logo">
    <h2
      class="text-uppercase font-weight-normal mb-4"
      style="font-size: 20px; color: #9eb9c5"
    >
      in co-organization with
    </h2>
    <div class="w-100 d-flex justify-content-center flex-wrap">
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/Logo_UEH_xanh 1.png"
        alt="UEH"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/Logo-Khanh-Hoa 1.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/iscm.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/handong.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/trieste.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/thammasat.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/kuleuven.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/melbourne.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/rmit.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/sutd.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/xaydunguni.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/ktscqvn.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/tdtuni.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/chula.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/apds.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/seouluni.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/trihitakarana.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/yersin.png"
        alt="Khanh Hoa"
      />
    </div>
  </section>
  <section class="d-flex flex-column align-items-center mt-5 logo">
    <h2
      class="text-uppercase font-weight-normal mb-4"
      style="font-size: 20px; color: #9eb9c5"
    >
      With Sponsorship from
    </h2>
    <div class="d-flex justify-content-center flex-wrap">
      <img
        style="object-fit: contain"
        style="margin-right: 60px"
        src="/images/competitive/4th-international/partners/Logo_UEH_xanh 1.png"
        alt="UEH"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/Logo-Khanh-Hoa 1.png"
        alt="Khanh Hoa"
      />
      <img
        style="object-fit: contain"
        style="margin-left: 44px"
        src="/images/competitive/4th-international/partners/gse&c.png"
      />
      <img
        style="object-fit: contain"
        style="margin-left: -40px"
        src="/images/competitive/4th-international/partners/handong_construction.png"
      />
      <img
        style="object-fit: contain"
        style="margin-left: -40px"
        src="/images/competitive/4th-international/partners/ongvang.png"
      />
      <img
        style="object-fit: contain"
        style="margin-left: -40px"
        src="/images/competitive/4th-international/partners/isc.png"
      />
      <img
        style="object-fit: contain"
        style="margin-left: -40px"
        src="/images/competitive/4th-international/partners/Bitrooms Logo Full 1.png"
      />
      <img
        style="object-fit: contain"
        style="margin-left: -40px"
        src="/images/competitive/4th-international/partners/ljgroup.png"
      />
    </div>
  </section>
  <section class="d-flex justify-content-center flex-wrap logo mt-5 mb-5">
    <h2
      class="text-uppercase font-weight-normal mb-4"
      style="font-size: 20px; color: #9eb9c5"
    >
      With MEDIA SPONSORSHIP FROM
    </h2>
    <div class="d-flex flex-wrap justify-content-center px-5">
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/ashui.png"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/kientrucvn.png"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/nhipcau.png"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/ybox.png"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/architectureexcursions.png"
      />
      <img
        style="object-fit: contain"
        src="/images/competitive/4th-international/partners/ardor.png"
      />
    </div>
  </section>
</body>

<script>
  const monthsEle = document.getElementById("months"),
    daysEle = document.getElementById("days"),
    hoursEle = document.getElementById("hours");

  function updateCountdown() {
    const targetDate = new Date("2025-07-15T24:00:00"); // Set your target date here
    const now = new Date();

    let months = targetDate.getMonth() - now.getMonth();
    let days = targetDate.getDate() - now.getDate();
    let hours = targetDate.getHours() - now.getHours();

    if (days < 0) {
      months--;
      const lastMonth = new Date(
        now.getFullYear(),
        now.getMonth(),
        0
      ).getDate();
      days += lastMonth;
    }
    if (months < 0) {
      months += 12;
    }
    if (hours < 0) {
      hours += 24;
      days--;
    }

    monthsEle.innerText = months;
    daysEle.innerText = days;
    hoursEle.innerText = hours;
  }

  updateCountdown(); // Initial call
  setInterval(updateCountdown, 3600000); // Update every hour
</script>

{{ partial "footer" }}
