{{ define "main" }}
<!-- events -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- event -->
            {{ range (.Paginator 6).Pages.ByPublishDate.Reverse }}
            <div class="col-lg-4 col-sm-6 mb-4">
                {{ .Render "event" }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /events -->
{{ $paginator := .Paginate (where .Pages "Type" "posts") }} {{ template "_internal/pagination.html" . }} {{ range $paginator.Pages }} {{ end }}
</br>
{{ end }}