{{ define "main" }}

<section class="container py-5">
  <h1 class="text-center">
    Drowing minor cities / Urban Adaptation Scenarios for Thanh Da
  </h1>
  <div class="row min-h-[400px]" style="margin-top: 100px">
    <div class="col-lg-5 col-12 mt-3 mt-lg-0 h-full">
      <p class="text-justify">
        Reading the two cities (HCM and Thu Duc) as twins reveals that the west
        city is slowing down development while the east city is accelerating it.
        The Saigon River and its associated landscapes (Thanh Da Peninsula and
        Thu Thiem) can be interpreted as an urban void. This void works as a
        hinge and a main landscape figure, anchoring and structuring the two
        cities to withstand increased population and a warmer climate in 2050
        and 2100.
      </p>
      <div class="d-flex justify-content-center">
        <img
          style="height: 150px"
          src="/images/partners/Logo_Avans_University.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-7 col-12 max-h-[450px]">
      <figure class="w-full h-fit">
        <img
          src="/images/studiolab/collaboration/thanhda/thanhda.jpg"
          alt=""
          class="w-full h-full object-contain object-top"
        />
      </figure>
    </div>
  </div>
  <div class="row gap-y-3 mt-24" style="margin-top: 150px">
    {{ range .Data.Pages}}
    <div
      class="col-lg-4 col-12 flex justify-center"
      style="margin-bottom: 64px"
    >
      {{ .Render "thanhda" }}
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
