{{ define "main" }}

<section class="container py-8">
  <h1 class="text-center">Collaboration Studios</h1>
  <p class="text-justify">
    Each year, ISCM has collaborated with international partners in order to
    create interactive design studios between the local and global students and
    experts. In these studios, we are all together trying to explore alternative
    future scenarios for urban environments to contribute to smart and
    sustainable cities.
  </p>
  <div class="row gap-y-3 mt-24">
    {{ range .Data.Pages}}
    <div class="col-12 col-lg-4">{{ .Render "studio" }}</div>
    {{ end }}
  </div>
</section>

{{ end }}
