{{ define "main" }}

<section class="container py-8">
  <h1 class="text-center">Collaboration Studios</h1>
  <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor maiores
    earum fugiat. Quia, veritatis totam id obcaecati vitae harum! In, dolore!
    Maiores aspernatur exercitationem saepe, perspiciatis nostrum sequi delectus
    nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
    possimus est, id deserunt totam quasi officiis asperiores natus velit atque
    sequi necessitatibus deleniti dolore doloribus, ut sit nisi, dolorum minima!
  </p>
  <div class="row gap-y-3 mt-24">
    {{ range .Data.Pages}}
    <div class="col-12 col-lg-4">{{ .Render "studio" }}</div>
    {{ end }}
  </div>
</section>

{{ end }}
