// Color Variables
$primary-color: #141414;
$secondary-color: #971919;
$text-color: #5c5c77;
$text-color-light: #858891;
$text-color-dark: #141519;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;
$text-color-ft: #ececec;

// Font Variables
$primary-font: "Barlow", sans-serif;
$secondary-font: "Barlow", sans-serif;
$icon-font: "themify";
$title-font: "IBM Plex Sans", sans-serif;
