<div class="card border-0 rounded-0 hover-shadow">
  <div class="card-img position-relative" style="height: 200px">
    <img
      class="card-img-top rounded-0"
      src="{{ .Params.image | relURL }}"
      alt="{{ .Title }}"
      style="height: 100%; object-fit: cover"
      loading="lazy"
    />
    <div class="card-date">
      <span>{{ .Date.Format "02" }}</span><br />{{ .Date.Format "Jan 2006" }}
    </div>
  </div>
  <div class="card-body" style="height: 130px">
    <!-- location -->
    <!-- <p><i class="ti-location-pin text-primary mr-2"></i>{{ .Params.Location | markdownify }}</p> -->
    <div style="height: 50px">
      <h4 class="card-title" style="max-height: 100%">
        <a
          style="
            height: 100%;
            font-size: 18px;
            color: rgba(41, 0, 2, 0.534);
            font-family: 'Barlow', sans-serif;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: keep-all;
            text-decoration: none;
            text-overflow: ellipsis;
          "
          title="{{ .Title }}"
          href="{{ .Permalink }}"
          >{{ .Title }}
        </a>
      </h4>
    </div>
  </div>
</div>
