<div class="card border-0 hover-shadow mb-5 p-3" style="overflow: hidden; width: 140px; height: 140px" title="{{ .Title }}">
  <img
    class="card-img-top rounded-0"
    src="{{ .Params.image | relURL }}"
    alt="{{ .Title }}"
    loading="lazy"
    style="object-fit: contain; object-position: center; width: 100%; height: 100%"
  />
  {{/*  <div class="card-body">
    <h4 class="card-title"><a href="{{ .Params.link | safeURL }}" target="_blank">{{ .Title }}</a></h4>  */}}
    {{/*  <p>{{ .Params.Course }}</p>  */}}
    {{/*  <ul class="list-inline">
      {{ range .Params.Contact }}
      <li class="list-inline-item">
        <a class="text-color" href="{{ .link | safeURL }}"
          ><i class="{{ .icon }}"></i
        ></a>
      </li>
      {{ end }}
    </ul>  
  </div>*/}}
</div>
