<div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0" style="border-bottom:0">
  <img class="card-img-top rounded-0"  style="height:200px; object-fit: contain;" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
  <div class="card-body" style="height: 200px;">
    <h4 class="card-title" style="height: 50px; overflow: hidden; text-overflow: ellipsis;"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <!-- <p class="card-text">{{ .Summary | truncate 150 }}</p> -->
  </div>
</div>
