<div class="" style="border-bottom: 0">
  {{/*
  <img
    class="card-img-top rounded-0"
    style="height: 200px; object-fit: contain"
    src="{{ .Params.image | relURL }}"
    alt="{{ .Title }}"
    loading="lazy"
  />
  */}}
  <h4 class="card-title">
    <a
      href="{{ .Permalink }}"
      class="text-capitalize"
      style="
        font-size: 18px;
        color: #000;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: keep-all;
        text-overflow: ellipsis;
        text-align: justify;
      "
      title="{{ .Title }}"
      >{{ .Params.citation | markdownify }}
    </a>
    <div
      class="author"
      style="
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: keep-all;
        color: #777;
        text-overflow: ellipsis;
        text-align: justify;
      "
    >
      {{ range .Params.authors}}
      <span style="font-size: 15px; font-weight: 600; font-style: italic"
        >{{.name}}</span
      >
      {{ end}}
    </div>
  </h4>
  <!-- <p class="card-text">{{ .Summary | truncate 150 }}</p> -->
</div>

<style>
  a:hover {
    text-decoration: underline;
  }
  .author span {
    margin-right: 4px;
    position: relative;
  }
  .author span:not(:last-child)::after {
    content: ", ";
    position: absolute;
    right: -4px;
    bottom: 0;
  }
</style>
