{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img
          style="height: 500px; width: 100%; object-fit: cover"
          src="{{ .Params.image | relURL }}"
          class="img-fluid w-100"
        />
      </div>
    </div>
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-7 order-1 col-sm-6 mb-4 mb-xl-0">
        <h2>{{ .Params.Post }}</h2>
      </div>
      <div class="col-xl-5 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-calendar text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">{{ i18n "duration" | upper }}</h6>
                <p class="mb-0">{{ .Params.Duration }}</p>
              </div>
            </div>
          </li>
          <!-- <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-timer text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">{{ i18n "weekly" | upper }}</h6>
                <p class="mb-0">{{ .Params.Weekly }}</p>
              </div>
            </div>
          </li> -->
          <!-- <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-wallet text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">{{ i18n "fee" | upper }}</h6>
                <p class="mb-0">{{ .Params.Fee }}</p>
              </div>
            </div>
          </li> -->
        </ul>
      </div>

      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4 content">
        {{ .Content }} {{ if .Params.courseStructureYear }} {{ if eq (trim
        site.Language " ") "en"}}
        <h4>Program structure</h4>
        {{else}}
        <h4>Cấu trúc chương trình</h4>
        {{ end }}
        <ul class="year-tabs-list mb-0">
          {{ range $index, $year := .Params.courseStructureYear }} {{ if eq
          $index 0 }}
          <li
            class="year-tab year-tab--active"
            ds-yearIndex="{{ $index }}"
            onclick="handleChangeStructure(event)"
          >
            {{ $year }}
          </li>
          {{else}}
          <li
            class="year-tab"
            ds-yearIndex="{{ $index }}"
            onclick="handleChangeStructure(event)"
          >
            {{ $year }}
          </li>
          {{end}} {{ end }}
        </ul>
        <img
          id="course-structures-image"
          src="{{ index .Params.courseStuctureImage 0 | relURL }}"
          style="height: auto; width: 100%; object-fit: cover"
        />
        {{ end }}
      </div>

      <!-- teacher -->
      <!--  <div class="col-12">
        <h5 class="mb-3">{{ i18n "teacher" }}</h5>
        {{ range where site.RegularPages "Title" (.Params.Teacher | title) }}
        <div
          class="d-flex justify-content-between align-items-center flex-wrap"
        >
          <div class="media mb-2 mb-sm-0 align-items-center">
            <img
              class="mr-4 img-fluid teacher-thumb-sm"
              src="{{ .Params.image | relURL }}"
              alt="{{ .Title }}"
            />
            <div class="media-body">
              <h4 class="mt-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              {{ .Params.Course }}
            </div>
          </div>
          <div class="social-link">
            <h6 class="d-none d-sm-block text-right">
              {{ i18n "contact_info" }}
            </h6>
            <ul class="list-inline">
              {{ range .Params.Contact }}
              <li class="list-inline-item">
                <a
                  class="d-inline-block text-light p-1"
                  href="{{ .link | safeURL }}"
                  ><i class="{{ .icon }}"></i
                ></a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
        <div class="border-bottom border-primary mt-4"></div>
      </div>  -->
    </div>
    <!-- contact form -->
    <div class="row flex-column align-items-center">
      <h2>Contact information for queries:</h2>
      <form class="contact-form col-12 col-md-6">
        <div>
          <label for="name">Full name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter your fullname"
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
          />
        </div>
        <div>
          <label for="phone">Phone Number</label>
          <input
            type="text"
            name="phone"
            id="phone"
            placeholder="Enter your phone number"
          />
        </div>
        <div>
          <label for="work-place">Work Place/ Study Place</label>
          <input
            type="text"
            name="workplace"
            id="work-place"
            placeholder="Enter your Work Place/ Study Place"
          />
        </div>
        <div>
          <label for="question">Your Question</label>
          <div class="question-editor">
            <textarea
              name="question"
              placeholder="Enter your question here..."
            ></textarea>
          </div>
        </div>
        <button type="submit">Send</button>
      </form>
      <script>
        const form = document.getElementsByClassName("contact-form")[0];

        form.addEventListener("submit", (e) => {
          e.preventDefault();

          let data = new FormData(form);
          data.append("sheet", "Graduate");

          fetch(
            "https://script.google.com/macros/s/AKfycbyVJApSU_6-Zts9Px9fyrRAT3vZr0n-PrTB8mz2kAuTQ4TbVTxaOHrjxGnrSxKsz4toow/exec",
            {
              method: "POST",
              body: data,
            }
          ).then(() => {
            location.reload();
          });
        });
      </script>
    </div>
  </div>
</section>
<!-- /section -->

<style>
  .contact-form {
    margin-top: 16px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form button {
    margin-top: 30px;
    width: max-content;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 6px;
    padding: 10px 40px;
    background-color: #141414;
    color: #fff;
  }

  .contact-form > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-form div input {
    display: inline-block;
    width: 50%;
    margin: 4px 0;
    padding: 6px;
    border: none;
    border-bottom: 2px solid #921119;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    outline: none;
  }

  .contact-form div input::placeholder {
    font-size: 14px;
    text-transform: capitalize;
  }

  .contact-form div label::after {
    content: ":";
  }

  .contact-form .question-editor {
    margin-top: 10px;
    width: 50%;
    height: 100px;
  }

  .contact-form .question-editor textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    outline: none;
  }

  .contact-form .question-editor textarea::-webkit-scrollbar {
    width: 5px;
  }

  .contact-form .question-editor textarea::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #ccc;
  }
</style>

<!-- related course -->
{{ $related := (where site.RegularPages "Section" "course_graduate") | intersect
(where site.Pages ".Title" "!=" .Title) | shuffle | first 3}} {{ if gt (len
$related) 1}}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "related_course" }}</h2>
      </div>
    </div>
    <div class="row">
      <!-- course item -->
      {{ range $related }}
      <div class="col-lg-4 col-sm-6 mb-5">{{ .Render "course"}}</div>
      {{ end }}
    </div>
  </div>
</section>

{{end}}

<!-- /related course -->

{{ if .Params.courseStructureYear }}
<style>
  .year-tab {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  }

  .year-tab--active {
    color: #ffa500;
  }

  li.year-tab::before {
    content: "";
    display: none;
  }
</style>

<script>
  function handleChangeStructure(e) {
    const courseStructureImg = $("#course-structures-image")[0];
    let target = e.target.attributes[1].value;
    let indexTemp, image;
    {{ range $index, $image := .Params.courseStuctureImage }}
      indexTemp = "{{ $index }}"
      if (indexTemp == target) {
        image = "{{ $image | relURL }}";
      }
    {{ end }}

    courseStructureImg.setAttribute(
      "src",
      image
    );

    const yearTabs = $(".year-tab").get();
    $(".year-tab--active").removeClass("year-tab--active")
    for (var tab of yearTabs) {
      if (tab.attributes[1].value == target) {
        tab.classList.add("year-tab--active")
      }
    }

  }
</script>

{{ end }} {{ end }}
