{{ define "main" }}

<!-- event single -->
<section class="section-sm">
    <div class="container" style="scroll-behavior: smooth; width: 100%;">
        <div class="row" style="width: 100%;">
            <div class="col-12">
                <h2 class="section-title" style="text-align: center; margin-left: 2%; font-size: 35px;">{{ .Title }}
                </h2>
            </div>
            <!-- research image -->
            <!-- <div class="col-12 mb-4">
        <img style="height: auto;width: 100%;object-fit: contain;" src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100">
      </div> -->
        </div>
        <!-- research details -->
        <div class="row">

            <div class="col-12 content">
                {{ .Content }}
            </div>

            <!-- <div data-paperturn="embed-v1" 
      style="width: 100%; max-width: 100%; height: 700px; margin-bottom: 30px;" >
      <iframe 
      src="{{ .Params.flipbook | relURL }}" 
      width="100%" 
      height="100%" 
      webkitallowfullscreen mozallowfullscreen allowfullscreen 
      style="border: 0px; display: block; background-color: #222220">
    </iframe></div> -->
            <!-- <script src="{{ .Params.embededSrc | relURL }}"></script> -->
            {{ if .Params.flipbook}}
            <div class="book-section">
                <!-- <p>Illustrations by <a href="http://artisticdesigning.com" target="_blank">lptan</a></p> -->
                <div class="container">
                    <!-- <div class="buttons">
                <button class="zoom">
                    <i class = "fa fa-search-plus" aria-hidden="true"></i>
                </button>
                <button class="reset">
                    <i class = "fa fa-search-plus" aria-hidden="true"></i>
                </button>

            </div> -->

                    {{range .Params.flipbook_page}}
                    <div class="right">
                        <img class="back" onclick="turnLeft()" src="{{ .flipbook_page_front | relURL }}"></img>
                        <img class="front" onclick="turnRight()" src="{{ .flipbook_page_back | relURL }}"></img>
                    </div>
                    {{end}}

                </div>
                <!-- <button onclick="turnLeft()">Prev</button> <button onclick="turnRight()">Next</button> -->
                <br />
            </div>
            {{end}}


            <style>
                .image {
                    margin: 30px;
                    float: left;
                    cursor: pointer;
                    max-height: 100px;
                }
                
                .popup {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    display: none;
                    text-align: center;
                }
                
                .popup_bg {
                    background: rgba(0, 0, 0, 0.4);
                    position: absolute;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                }
                
                .popup_img {
                    position: relative;
                    margin: 0 auto;
                    z-index: 2;
                    max-height: 94%;
                    max-width: 94%;
                    margin: 1% 0 0 0;
                }
            </style>

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
                $(document).ready(function() {
                    $(".back").click(function() {
                        console.log("hello b")
                        var img = $(this);
                        var src = img.attr('src');
                        $("body").append("<div class='popup'>" +
                            "<div class='popup_bg'></div>" +
                            "<img src='" + src + "' class='popup_img' />" +
                            "</div>");
                        $(".popup").fadeIn(800);
                        $(".popup_bg").click(function() {
                            $(".popup").fadeOut(800);
                            setTimeout(function() {
                                $(".popup").remove();
                            }, 800);
                        });
                    });

                    $(".front").click(function() {
                        console.log("hello f")
                        var img = $(this);
                        var src = img.attr('src');
                        $("body").append("<div class='popup'>" +
                            "<div class='popup_bg'></div>" +
                            "<img src='" + src + "' class='popup_img' />" +
                            "</div>");
                        $(".popup").fadeIn(800);
                        $(".popup_bg").click(function() {
                            $(".popup").fadeOut(800);
                            setTimeout(function() {
                                $(".popup").remove();
                            }, 800);
                        });
                    });

                });
            </script>
            <script>
                var weight = "{{.Params.weight}}";
                console.log(weight);
                var flipbook_width = "{{.Params.flipbook_width}}";
                var flipbook_height = "{{.Params.flipbook_height}}";
                //
                $(document).ready(function() {
                    if (flipbook_height != "") {
                        console.log("flipbook_height:" + flipbook_height);
                        $("div.book-section div.container").css("height", flipbook_height + "px");
                    }
                    if (flipbook_width != "") {
                        console.log("flipbook_width:" + flipbook_width);
                        $("img.front, img.back").css("width", flipbook_width + "%");
                    }
                });
            </script>
            <style>
                .book-section {
                    height: auto;
                    width: 100%;
                    padding: 20px 0 60px;
                    text-align: center;
                }
                
                .book-section>.container {
                    height: 800px;
                    width: auto;
                    position: relative;
                    border-radius: 2%;
                    margin-bottom: 30px;
                    perspective: 1500px;
                }
                
                .container>.right {
                    position: absolute;
                    height: auto;
                    width: 50%;
                    transition: 0.7s ease-in-out;
                    transform-style: preserve-3d;
                    cursor: pointer;
                }
                
                .book-section>.container>.right {
                    right: 0;
                    transform-origin: left;
                    border-radius: 10px 0 0 10px;
                }
                
                .right>img.front,
                .right>img.back {
                    margin: 0;
                    height: auto;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-size: 200%;
                    background-repeat: no-repeat;
                    backface-visibility: hidden;
                    background-color: white;
                    overflow: hidden;
                }
                
                .right>img.front {
                    background-position: right;
                    border-radius: 0 10px 10px 0;
                    cursor: pointer;
                    box-shadow: 2px 2px 15px -2px rgba(31, 29, 29, 0.2);
                }
                
                .right>img.back {
                    background-position: left;
                    border-radius: 10px 0 0 10px;
                    cursor: pointer;
                    box-shadow: -2px 2px 15px -2px rgba(0, 0, 0, 0.2);
                    transform: rotateY(180deg);
                }
                
                .flip {
                    transform: rotateY(-180deg);
                }
                
                .flip::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    border-radius: 0 10px 10px 0;
                    background-color: rgba(128, 126, 126, 0.1);
                }
                
                .book-section>button {
                    border: 2px solid #ef9f00;
                    background-color: transparent;
                    color: #ef9f00;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    margin: 10px;
                    transition: 0.3s ease-in-out;
                }
                
                .book-section>button:focus,
                .book-section>button:active {
                    outline: none;
                }
                
                .book-section>p {
                    color: rgba(0, 0, 0, 0.7);
                    font-family: calibri;
                    font-size: 24px;
                }
                
                .book-section>p>a {
                    text-decoration: none;
                    color: #ef9f00;
                }
                
                .book-section>button:hover {
                    background-color: #ef9f00;
                    color: #fff;
                }
                
                .front#cover,
                .back#back-cover {
                    background-color: #ffcb63;
                    font-family: calibri;
                    text-align: left;
                    padding: 0 30px;
                }
                
                .front#cover h1 {
                    color: #fff;
                }
                
                .front#cover p {
                    color: rgba(151, 148, 148, 0.8);
                    font-size: 14px;
                }
            </style>
            <script>
                var right = document.getElementsByClassName("right");
                var si = right.length;
                var z = 1;
                turnRight();
                setTimeout(function() {}, 2000);
                turnLeft();
                setTimeout(function() {}, 2000);

                function turnRight() {
                    if (si >= 1) {
                        si--;
                    } else {
                        si = right.length - 1;

                        function sttmot(i) {
                            setTimeout(function() {
                                right[i].style.zIndex = "auto";
                            }, 300);
                        }
                        for (var i = 0; i < right.length; i++) {
                            right[i].className = "right";
                            sttmot(i);
                            z = 1;
                        }
                    }
                    right[si].classList.add("flip");
                    z++;
                    right[si].style.zIndex = z;
                }

                function turnLeft() {
                    if (si < right.length) {
                        function sttmot(i) {
                            setTimeout(function() {
                                right[i].style.zIndex = "auto";
                            }, 300);
                        }
                        sttmot(si);
                        si++;
                    } else {
                        si = 1;

                        for (var i = right.length - 1; i > 0; i--) {
                            right[i].classList.add("flip");
                            right[i].style.zIndex = right.length + 1 - i;
                        }
                    }
                    right[si - 1].className = "right";
                }
            </script>

</section>


{{ end }}