<!-- footer -->
<footer>
  <!-- newsletter -->
  <!-- {{ if site.Params.subscription.enable }}
  {{ with site.Params.subscription }}
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white">{{ i18n "subscribe_newsletter" }}</h3>
          <form action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
            <div class="input-wrapper">
              <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="{{ i18n "enter_email" }}">
              <button type="submit" name="subscribe" class="btn btn-primary">{{ i18n "join" }}</button>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }} -->
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="slogan" style="margin-top: -15%; text-align: center; margin-bottom: 10%;" >
        <!-- <img class="img-fluid mb-4" style="height:100px; margin: auto; padding: 10px;" src="{{ site.Params.ueh_std_logo | absURL }}" alt="{{ site.Title }}"> -->
        <p style="font-size: 20pt; font-weight: bolder; color: whitesmoke;">SHAPING THE UNKNOWN FUTURE</p>
        <!-- <p style="font-size: large;">Thỏa sức sáng tạo. Chủ động tương lai. Toàn diện giá trị</p> -->
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
          <!-- logo -->
          <a class="logo-footer" href="{{ site.BaseURL | relLangURL }}"><img class="img-fluid mb-4" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
          <ul class="list-unstyled row">
            <li class="mb-4 col-12">{{ site.Params.address | markdownify }}</li>
            <li class="mb-4 col-xl-5 col-12">{{ site.Params.email | markdownify }}</li>
            <li class="mb-4 col-xl-5 col-12">{{ site.Params.mobile | markdownify }}</li>
          </ul>
        </div>

        <!-- company -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          
        </div>
                
        <!-- company -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          
        </div>
        

        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0" style=" margin-top: -2%; text-align: right;">
          <!-- logo -->
          <a class="logo-footer" href="{{ site.BaseURL | relLangURL }}">
            <img class="img-fluid mb-4" style="height:70px;" src="{{ site.Params.ueh_ctd_logo | absURL }}" alt="{{ site.Title }}">
          </a>
          <ul class="list-unstyled">
            <li class="mb-4" style="font-size: 97%;">{{ site.Params.ueh_address | markdownify }}</li>
            <li class="mb-4">{{ site.Params.ueh_email | markdownify }}</li>
            <li class="mb-4">{{ site.Params.ueh_mobile | markdownify }}</li>
          </ul>
          
        </div>
        <!-- company 
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "company" }}</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.main }}
            {{ if not .HasChildren }}
            <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
        -->

        <!-- links 
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "links" }}</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.footer }}
            <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div> -->

        <!-- support 
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "courses" }}</h4>
          <ul class="list-unstyled">
            {{ range first 5 (where site.RegularPages "Type" "course")}}
            <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div> -->


        <!-- support 
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{{ i18n "new_notice" }}</h4>
          <ul class="list-unstyled">
            {{ range first 3 (where site.RegularPages "Type" "notice")}}
            <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }} -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="bg-footer" style="width: auto; height: 100px; padding-top: 50px;">

    <ul class="list-unstyled" style="text-align: center;"> 
      
      <li class="mb-4">
        <a class="logo-footer" href="{{ site.Params.recruitURL | relLangURL }}">
          <span class="logotext">{{ if eq (strings.ToLower .Language.Lang) "en"}}Admission{{else}}Tuyển Sinh{{end}}</span>  
          <img class="img-fluid mb-4" style="height:50px; margin-right: 20px;" src="{{ site.Params.ueh_link_recruit | absURL }}" alt="{{ site.Title }}">
          </a>
      </li>
      <li class="mb-4">
        <a class="logo-footer" href="{{ site.Params.futureURL | relLangURL }}">
          <span class="logotext">UEH Giving</span>    
          <img class="img-fluid mb-4" style="height:50px; margin-right: 20px; " src="{{ site.Params.ueh_link_future | absURL }}" alt="{{ site.Title }}">
          </a>
      </li>
      <li class="mb-4">
        <a class="logo-footer" href="{{ site.Params.globalURL | relLangURL }}">
          <span class="logotext">UEH Global Learning</span>  
          <img class="img-fluid mb-4" style="height:50px; margin-right: 20px;" src="{{ site.Params.ueh_link_global | absURL }}" alt="{{ site.Title }}">
          </a>
      </li>
      <li class="mb-4">
        <a class="logo-footer" href="{{ site.Params.elearningURL | relLangURL }}">
          <span class="logotext">E-Learning</span>   
          <img class="img-fluid mb-4" style="height:50px; margin-right: 20px" src="{{ site.Params.ueh_link_elearning | absURL }}" alt="{{ site.Title }}">
          </a>
      </li>
      <li class="mb-4">
        <a class="logo-footer" href="{{ site.Params.jobURL | relLangURL }}">
          <span class="logotext">{{ if eq (strings.ToLower .Language.Lang) "en"}}UEH Career for Student{{else}}Việc Làm UEH{{end}}</span>    
          <img class="img-fluid mb-4" style="height:50px; margin-right: 20px" src="{{ site.Params.ueh_link_job | absURL }}" alt="{{ site.Title }}">
          </a>
      </li>
      <li class="mb-4">
        <a class="logo-footer" href="{{ site.Params.informationURL | relLangURL }}">
          <span class="logotext">{{ if eq (strings.ToLower .Language.Lang) "en"}}UEH All in One{{else}}Tất Tần Tật Về UEH{{end}}</span>   
          <img class="img-fluid mb-4" style="height:50px; margin-right: 20px" src="{{ site.Params.ueh_link_information | absURL }}" alt="{{ site.Title }}">
          </a>
      </li>
      <li class="mb-4">
        <a class="logo-footer" href="{{ site.Params.virtualURL | relLangURL }}">
          <span class="logotext">UEH Virtual Tour</span>    
          <img class="img-fluid mb-4" style="height:50px; margin-right: 20px" src="{{ site.Params.ueh_link_virtual | absURL }}" alt="{{ site.Title }}">
          </a>
      </li>
    </ul>

  </div>
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text-sm-left text-center">
          <p class="mb-0">{{ site.Params.copyright | markdownify }}</p>
        </div>
        <div class="col-sm-5 text-sm-right text-center">
          <ul class="list-inline">
            {{ range site.Params.social }}
            <li class="list-inline-item"><a class="d-inline-block p-2" href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with site.Params.google_analitycs_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}


<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	{{ if eq (strings.ToLower .Language.Lang) "en"}}This site uses cookies. By continuing to use this website, you agree to their use. {{else}} Trang web này sử dụng cookie. Bằng cách tiếp tục sử dụng trang web này, bạn đồng ý với việc sử dụng chúng.{{end}}<span id="js-cookie-button" class="btn btn-sm btn-outline-primary ml-2" style="background-color: rgba(255,255,255, 0.6) !important">{{ if eq (strings.ToLower .Language.Lang) "en"}} Accept {{else}} Chấp Nhận{{end}}</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
