{{ define "main" }}

<section class="container pt-16" style="padding-bottom: 40px">
  <div>
    <h1 class="text-4xl border-b-2 border-dashed border-black w-fit" style="border-bottom: 3px dashed black; width: fit-content">
      Design Studio Lab
    </h1>
    <div class="row flex gap-3">
      <p class="col-lg-6 col-12 mt-2 pb-3 text-justify text-base">
        Design Studio Lab is a platform for students, lecturers, professionals,
        and stakeholders to discuss and explore alternative urban development,
        restructuring, and preservation scenarios. Design is considered a
        “knowledge production machine.” That is, the interaction and design
        thinking in the project implementation process will test hypotheses,
        development scenarios, and new spatial concepts to propose alternative
        visions and development strategies for smart cities as well as apply
        technology for a more sustainable future. And of course, the results
        from the above quality thinking and design process can be considered a
        contribution of knowledge.
      </p>
    </div>
  </div>

  <div class="flex relative pb-20">
    <div class="w-full">
      <div>
        <h3 class="text-3xl">ISCM Studios</h3>
        <div class="flex gap-3 flex-wrap row">
          <div class="col-lg-4 col-12">
            <a
              href="/thanhda/urban-adaptation-scenarios-for-thanh-da-the-gem-of-hcm-and-thu-duc-cities/"
              class="card border-0 rounded-0 hover-shadow !mb-0 mb-lg-5 w-100"
              title="Urban Adaptation: Scenarios for Thanh Da - The Gem of HCM and Thu Duc Cities"
              style="cursor: pointer"
            >
              <img
                class="card-img-top rounded-0 h-full w-100"
                src="/images/studiolab/iscm_studios/thumb.png"
                alt=""
                style="
                  width: 350px;
                  height: 250px;
                  object-fit: cover;
                  object-position: center;
                "
                loading="lazy"
              />
              <div class="card-body h-fit">
                <h4
                  class="card-title leading-6 line-clamp-2"
                  style="
                    height: '50px';
                    font-weight: 'bold';
                    color: '#141414';
                    font-size: '20px';
                    display: '-webkit-box';
                    --webkit-line-clamp: 2;
                    --webkit-box-orient: 'vertical';
                    overflow: 'hidden';
                    word-break: 'keep-all';
                    text-decoration: 'none';
                    text-overflow: 'ellipsis';
                  "
                >
                  Urban Adaptation: Scenarios for Thanh Da - The Gem of HCM and
                  Thu Duc Cities
                </h4>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div>
        <h3 class="text-3xl mt-3">Collaboration Studios</h3>
        <div class="row gap-3">
          <a href="/collaboration_studios" class="col-12 col-lg-4" style="display: block"
            ><div
              class="cursor-pointer card_overlay shadow-md"
              style="width: 100%; height: 250px"
            >
              <img
                src="/images/studiolab/collaboration/thanhda/thanhda.jpg"
                class="w-full h-full object-contain"
              />
              <div class="text_overlay">
                <p class="text-xl">Collaboration Studios</p>
              </div>
            </div></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
