<div
  class="d-flex"
  style="gap: 24px; align-content: flex-start; align-items: stretch"
>
  <div>
    <div style="width: 400px; display: flex; flex-shrink: 0; gap: 10px">
      {{- $t := split .Params.img "," -}} {{- range $t -}}
      <figure style="flex-shrink: 0; flex: 1; width: 100%; max-height: 500px; margin: 0 !important">
        <img
          src="{{-  . | relURL  -}}"
          class="w-100 h-100"
          style="object-fit: cover; object-position: top center; margin: 0 !important"
        />
      </figure>
      {{- end -}}
    </div>
    <p style="margin-top: -24px">{{- .Params.title | markdownify -}}</p>
  </div>
  <div>{{- .Inner | .Page.RenderString -}}</div>
</div>
