{{ define "main" }}

<!-- event single -->
<section class="section-sm" style="padding: 1px!important; width: 100%!important;">
  <div class="container" style="scroll-behavior: smooth;">
    <div class="row">
      <div class="col-12">
        <div style="height: 70px; width: 100%; background-color: #c31f33; text-align: center;">
          <ul style="padding: 0%; display: inline-flex; color: white;     font-size: 13px; height: 100%; align-items: center; ">
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#compOverview">Why choosing ISCM?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#compTimeline">Admission Plan 2022</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#compPrize">Our Program</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#compPartner">International Dual Degree</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#compRegister">Scholarship</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#compRegister">Lecturers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#compRegister">Q&A</a>
            </li>
          </ul>  
        </div>

        <div style="height: 250px; width: 100%; background-color: black;">

        </div>
        
        <div class="row align-items-center" style="margin-top: 60px;">
          <div class="col-md-6 order-2 order-md-1" style="text-align: justify;">
            <h2 class="section-title" style="color: #c31f33; ">About ISCM</h2>
            <p>Institute of Smart City and Management (ISCM) is a research institute belong to the College of Technology and Design (CTD) of the UEH University. Research and education activities are fundementally formulated based on the concept of integration of frontier architectural, technological and engineering applications and modelling.</p>
          
          </div>
          
          <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
            <img class="img-fluid w-100" src="http://localhost:1313/images/about/about-page.jpg" alt="about image">
          </div>
          
        </div>

        <div class="row align-items-center" style="margin-top: 60px;">
          
          <div class="col-md-6 order-2 order-md-1 ">
            <img class="img-fluid w-100" src="http://localhost:1313/images/about/about-page.jpg" alt="about image">
          </div>

          <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0" style="text-align: justify;"> 
            <p>Institute of Smart City and Management (ISCM) is a research institute belong to the College of Technology and Design (CTD) of the UEH University. Research and education activities are fundementally formulated based on the concept of integration of frontier architectural, technological and engineering applications and modelling.</p>
          
          </div>
          
        </div>
        
        <div style="width:100%; height: 5px;border-radius: 10px; background-color:gainsboro; margin-top: 70px;"></div>
        <!-- Admission Plan-->
        <div class="col-12" style="page-break-before:always; text-align: justify;" >
          <div style="text-align: center; margin-top: 50px; margin-bottom: 30px; color:#c31f33; font-weight: 800; font-size: 30px;"> 
            ADMISSION PLAN 2022</div>
          
          <p style="text-align: justify;">
            Institute of Smart City and Management (ISCM) is a research institute belong to the College of Technology and Design (CTD) of the UEH University. Research and education activities are fundementally formulated based on the concept of integration of frontier architectural, technological and engineering applications and modelling.</p>
          
          <div style="width:100%; height: 1000px; background-color: gainsboro;"> </div>
        </div>

        <div style="width:100%; height: 5px;border-radius: 10px; background-color:gainsboro; margin-top: 70px;"></div>
        

        <!-- ABOUT OUR PROGRAM-->

        <div class="col-12" style="page-break-before:always; text-align: justify;" >
          <div style="text-align: center; margin-top: 50px; margin-bottom: 30px; color:#c31f33; font-weight: 800; font-size: 30px;"> 
            ABOUT OUR PROGRAM</div>
          
          <p style="text-align: justify;">
            Institute of Smart City and Management (ISCM) is a research institute belong to the College of Technology and Design (CTD) of the UEH University. Research and education activities are fundementally formulated based on the concept of integration of frontier architectural, technological and engineering applications and modelling.</p>
          
            <div class="row align-items-center" style="margin-top: 60px;">
              <div class="col-md-6 order-2 order-md-1" style="text-align: justify;">
                <p>Institute of Smart City and Management (ISCM) is a research institute belong to the College of Technology and Design (CTD) of the UEH University. Research and education activities are fundementally formulated based on the concept of integration of frontier architectural, technological and engineering applications and modelling.</p>
              
              </div>
              
              <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0" style="text-align: center;">
                <img class="img-fluid w-100" style="width: 250px!important; height: 300px;" src="http://localhost:1313/images/about/about-page.jpg" alt="about image">
              </div>
              
            </div>
        

          <div style="width:100%; height: 300px; background-color: gainsboro; margin-top: 30px; margin-bottom: 30px; align-items: center"> </div>
          <div style="width: 100%; height: 400px; text-align: justify; vertical-align: middle;">
            <p>Institute of Smart City and Management (ISCM) is a research institute belong to the College of Technology and Design (CTD) of the UEH University. Research and education activities are fundementally formulated based on the concept of integration of frontier architectural, technological and engineering applications and modelling.</p>
          </div>

          <div class="row align-items-center" style="margin-top: 60px;">
          
            <div class="col-md-6 order-2 order-md-1 ">
              <img class="img-fluid w-100" src="http://localhost:1313/images/about/about-page.jpg" alt="about image">
            </div>
  
            <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0" style="text-align: justify;"> 
              <p>Institute of Smart City and Management (ISCM) is a research institute belong to the College of Technology and Design (CTD) of the UEH University. Research and education activities are fundementally formulated based on the concept of integration of frontier architectural, technological and engineering applications and modelling.</p>
            
            </div>
            
          </div>
        </div>

        <div style="width:100%; height: 5px;border-radius: 10px; background-color:gainsboro; margin-top: 70px;"></div>

        <!-- International Dual Degree-->
        <div class="col-12" style="page-break-before:always; text-align: justify;" >
          <div style="text-align: center; margin-top: 50px; margin-bottom: 30px; color:#c31f33; font-weight: 800; font-size: 30px;"> 
            INTERNATION DUAL DEGREE</div>
          
          <p style="text-align: justify;">
            Institute of Smart City and Management (ISCM) is a research institute belong to the College of Technology and Design (CTD) of the UEH University. Research and education activities are fundementally formulated based on the concept of integration of frontier architectural, technological and engineering applications and modelling.</p>
          
          <div style="width:100%; height: 500px; background-color: gainsboro;"> </div>
        </div>

        <div style="width:100%; height: 5px;border-radius: 10px; background-color:gainsboro; margin-top: 70px;"></div>
        


    </div>
  </div>
</section>
<!-- /event single -->

{{ end }}