{{ define "main" }}

<!-- event single -->
<section class="section-sm" style="padding: 1px!important; width: 100%!important;">
  <div class="container" style="scroll-behavior: smooth;">
    <div class="row">
      <div class="col-12">
        <div style="height: 70px; width: 100%; background-color: #c31f33; text-align: center;">
          <ul style="padding: 0%; display: inline-flex; color: white;     font-size: 12px; height: 100%; align-items: center; ">
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#adAbout">Why choosing ISCM?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#admissionPlan">Admission Plan 2022</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#program">Our Program</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#dual">International Dual Degree</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#scholar">Scholarship</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#teacher">Lecturers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" height: 100%; width: max-content;" href="#compRegister">Q&A</a>
            </li>
          </ul>  
        </div>

        <div style="height: 250px; width: 100%;">
          <video autoplay loop muted style="object-fit: cover;  width: 100%; height: 100%; ">
            <source src="http://localhost:1313/images/admission/master-course.mp4" type="video/mp4">
          </video>  
        </div>
        
        <div class="row align-items-center" style="margin-top: 60px;" id = "adAbout">
          <div class="col-md-6 order-2 order-md-1" style="text-align: justify;">
            <h3 class="section-title" style="color: #c31f33; ">
              {{ .Params.about_title }}</h3>
              <h5>{{ .Params.about_param_01_header }}</h5>
              <p>{{ .Params.about_param_01 }}</p>
              <h5>{{ .Params.about_param_02_header }}</h5>
              <p>{{ .Params.about_param_02 }}</p>

          </div>
          
          <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
            <img class="img-fluid w-100" src="{{ .Params.about_image_01 | relURL }}" alt="about image">
          </div>
          
        </div>

        <div class="row align-items-center" style="margin-top: 60px;">
          
          <div class="col-md-6 order-2 order-md-1 ">
            <img class="img-fluid w-100" src="{{ .Params.about_image_02 | relURL }}" alt="about image">
          </div>

          <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0" style="text-align: justify;"> 
            <h5>{{ .Params.about_param_03_header }}</h5>
            <p>{{ .Params.about_param_03 }}</p>
            <h5>{{ .Params.about_param_04_header }}</h5>
            <p>{{ .Params.about_param_04 }}</p>
        
          </div>
          
        </div>
        
        <div style="width:100%; height: 5px;border-radius: 10px; background-color:gainsboro; margin-top: 70px;"></div>
        <!-- Admission Plan-->
        <div class="col-12" id="admissionPlan" style="page-break-before:always; text-align: justify;" >
          <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; margin-top: 50px; margin-bottom: 30px; color:#c31f33; font-weight: 600; font-size: 30px;"> 
            {{ .Params.admission_title }}</div>
          
          <p style="text-align: justify;">
            {{ .Params.admission_content }}
          </p>
          
          <div style="width:100%; height: auto; background-color: gainsboro;">
            <img class="img-fluid w-100" src="{{ .Params.admission_image | relURL }}" alt="about image">
          </div>

          
          <a href="https://www.iscm.ueh.edu.vn/admission_announcement/master_admission_2022/" style="color: #c31f33;"> 
            <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; margin-top: 50px; margin-bottom: 30px; color:#c31f33; font-weight: 600; font-size: 20px;"> 
              {{ .Params.admission_content_02 }}</div>
          </a>
        </div>


        <div style="width:100%; height: 5px;border-radius: 10px; background-color:gainsboro; margin-top: 70px;"></div>
        

        <!-- ABOUT OUR PROGRAM-->

        <div class="col-12" id="program" style="page-break-before:always; text-align: justify; width: auto !important;" >
          <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; margin-top: 50px; margin-bottom: 30px; color:#c31f33; font-weight: 600; font-size: 30px;"> 
            {{ .Params.about_program_title }}</div>
          
          <p style="text-align: justify;">
            {{ .Params.about_program_content_overall }}
          </p>
          
            <div class="row align-items-center" style="margin-top: 60px;">
              <div class="col-md-8 order-2 order-md-1" style="text-align: justify;">
                <h5>{{ .Params.about_program_content_header_01 }}</h5>
                <p>{{ .Params.about_program_content_01 }}</p>

                <h5>{{ .Params.about_program_content_header_02 }}</h5>
                <p>{{ .Params.about_program_content_02 }}</p>
              
              </div>
              
              <a href="https://www.iscm.ueh.edu.vn/vi/course_graduate/master-03/" class="col-md-4 order-1 order-md-2 mb-4 mb-md-0" style="text-align: center;">
                <img class="img-fluid w-100" href="https://www.iscm.ueh.edu.vn/admission_master/master_admission_2022/" style="width: 350px !important; height: 450px;" src="{{ .Params.about_program_image_01 | relURL }}" alt="about image">
              </a>
              
            </div>
        
            <div style="width:100%; height: auto; background-color: gainsboro;">
              <img class="img-fluid w-100" src="{{ .Params.about_program_image_02 | relURL }}" alt="about image">
            </div>

            <div class="row align-items-center" style="margin-top: 60px; margin-bottom: 60px;" id = "adAbout">
              <div class="col-md-6 order-2 order-md-1" style="text-align: justify; padding-right: 60px;">
                <h5>{{ .Params.about_program_content_header_03 }}</h5>
                <p>{{ .Params.about_program_content_03 }}</p>
                <h5>{{ .Params.about_program_content_header_04 }}</h5>
                <p>{{ .Params.about_program_content_04 }}</p>
    
              </div>
              
              <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0" style="padding-left:60px;">
                <h5>{{ .Params.about_program_content_header_05 }}</h5>
                <p>{{ .Params.about_program_content_05 }}</p>
                <h5>{{ .Params.about_program_content_header_06 }}</h5>
                <p>{{ .Params.about_program_content_06 }}</p>
              </div>
            </div>


            <div class="row align-items-center" style="margin-top: 60px;">
              
              <div class="col-md-6 order-2 order-md-1 ">
                <img class="img-fluid w-100" src="{{ .Params.about_program_image_03 | relURL }}" alt="about image">
              </div>
    
              <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0" style="text-align: justify;"> 
                <h3 class="section-title" style="color: #c31f33; ">
                  {{ .Params.about_program_content_header_07_H }}</h3>
                <h5>{{ .Params.about_program_content_header_07 }}</h5>
                <p>{{ .Params.about_program_content_07 }}</p>

              </div>
              
            </div>

            <div class="row align-items-center" style="margin-top: 60px;" id = "adAbout">
              <div class="col-md-6 order-2 order-md-1" style="text-align: justify;">

                  <h5>{{ .Params.about_program_content_header_08 }}</h5>
                  <p>{{ .Params.about_program_content_08 }}</p>
    
              </div>
              
              <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
                <img class="img-fluid w-100" src="{{ .Params.about_program_image_04 | relURL }}" alt="about image">
              </div>
              
            </div>
    
            <div class="row align-items-center" style="margin-top: 60px;">
              
              <div class="col-md-6 order-2 order-md-1 ">
                <img class="img-fluid w-100" src="{{ .Params.about_program_image_05 | relURL }}" alt="about image">
              </div>
    
              <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0" style="text-align: justify;"> 

                <h5>{{ .Params.about_program_content_header_09 }}</h5>
                <p>{{ .Params.about_program_content_09 }}</p>

            
              </div>
              
            </div>

        </div>

        <div style="width:100%; height: 5px;border-radius: 10px; background-color:gainsboro; margin-top: 70px;"></div>

        <!-- International Dual Degree-->
        <div class="col-12" id="dual" style="page-break-before:always; text-align: justify;" >
          <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; margin-top: 50px; margin-bottom: 30px; color:#c31f33; font-weight: 600; font-size: 30px;"> 
            {{ .Params.about_dual_degree_title }} </div>
          
          <p style="text-align: justify; ">
            {{ .Params.about_dual_degree_content }}
          </p>
          
            <div class="row" style="justify-content: center;">
              <!-- course item -->
            <!-- course item -->
            {{ $related := (where site.RegularPages "Type" "course") |  union (site.RegularPages.Related . )  | last 3}}
            {{ range first 2 $related }}
            <div class="col-lg-4 col-sm-4 mb-5">
              {{ .Render "course"}}
            </div>
            {{ end }}
            </div>
        </div>

        <div style="width:100%; height: 5px;border-radius: 10px; background-color:gainsboro; margin-top: 70px;"></div>
        

        <!-- Scholarship -->
        <div class="col-12" id="scholar"  style="page-break-before:always; text-align: justify;" >
          <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; margin-top: 50px; color:#c31f33; font-weight: 500; font-size: 30px;"> 
            {{ .Params.scholar_title }}</div>
          
          <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; margin-bottom: 30px; font-weight: 500; font-size: 20px;"> 
            {{ .Params.scholar_title_02 }}</p>
          <p style="text-align: justify;">
            {{ .Content }}
          </p>
          <a href="https://dsa.ueh.edu.vn/hoc-bong/hoc-bong-bac-cao-hoc/caohoc/" style="color: #1f61c3;"> 
            <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: left; margin-top: 50px; margin-bottom: 30px; color:#c31f33; font-weight: 600; font-size: 15px;"> 
              {{ .Params.scholar_link }}</div>
          </a>
        </div>

        <div style="width:100%; height: 5px;border-radius: 10px; background-color:gainsboro; margin-top: 70px;"></div>


       <!-- Teacher -->
        <div class="col-12" id="teacher" style="page-break-before:always; text-align: justify;" >
          <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; margin-top: 50px; margin-bottom: 30px; color:#c31f33; font-weight: 500; font-size: 30px;"> 
            {{ .Params.teacher_title }}</div>
          <p style="text-align: justify;">
            {{ .Params.teacher_Content }}
          </p>
          
          {{range .Params.teacher_contact}}
          <div class="card" style="width:300px;  
          position: relative; max-height: auto; display: inline-block; margin: 28.5px;
          box-sizing: border-box;vertical-align: top;" >
            <img src="{{ .image | relURL }}" alt="Avatar" style="height:200px; width: 200px; align-items: center; justify-content: center; display: block; margin: auto; margin-bottom: 10px;">
            <div class="container" style="text-align: center; width: auto; height: 200px;">
              <h4><b>{{ .name }}</b></h4>
              <p>{{ .field }}</p>
              <h4>Teaching:</h4>
              <p>{{ .teaching_subject }}</p>
            </div>
          </div>
          {{end}}
          </div>

          {{ $styles := resources.Get "css/form.css" | minify }}
          <!-- <div class="container02" href = "{{$styles.Permalink}}">
            <div class="screen">
              <div class="screen-header">
                <div class="screen-header-left">
                  <div class="screen-header-button close"></div>
                  <div class="screen-header-button maximize"></div>
                  <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                  <div class="screen-header-ellipsis"></div>
                  <div class="screen-header-ellipsis"></div>
                  <div class="screen-header-ellipsis"></div>
                </div>
              </div>
              <div class="screen-body">
                <div class="screen-body-item left">
                  <div class="app-title">
                    <span>CONTACT</span>
                    <span>US</span>
                  </div>
                  <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div>
                </div>
                <div class="screen-body-item">
                  <div class="app-form">
                    <div class="app-form-group">
                      <input class="app-form-control" placeholder="NAME" value="Krisantus Wanandi">
                    </div>
                    <div class="app-form-group">
                      <input class="app-form-control" placeholder="EMAIL">
                    </div>
                    <div class="app-form-group">
                      <input class="app-form-control" placeholder="CONTACT NO">
                    </div>
                    <div class="app-form-group message">
                      <input class="app-form-control" placeholder="MESSAGE">
                    </div>
                    <div class="app-form-group buttons">
                      <button class="app-form-button">CANCEL</button>
                      <button class="app-form-button">SEND</button>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div> -->
        </form>

        </div>

        


    </div>
  </div>
</section>
<!-- /event single -->

{{ end }}